html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.dib {
	display: inline-block;
}
.cb {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.in-a-row {
	display: inline-block;
	vertical-align: top;
	margin-right: -4px;
}

body {
	background: url('../img/bg.png') no-repeat left top;
}
.clear {
	clear: both;
}
#wrapper {
	width: 1000px;
	.cb;
	header {
		#languages {
			float: right;
			margin-top: 10px;
			margin-right: 5px;

			.lang {
				.in-a-row;
				margin-right: 5px;

				a {
					color: #44494f;
					font-family: 'Calibri';
					font-size: 13px;
					font-weight: bold;
					text-decoration: none;

					img {
						position: relative;
						top: 5px;
						width: 30px;
						height: 18px;
					}
					span {
						margin-top: -5px;
					}
				}
				a:hover {
					text-decoration: underline;
				}
			}
			.lang:last-child {
				margin-right: 0;
			}
		}
		#logo {
			float: left;
			margin-top: 45px;
			margin-right: 60px;
			bottom: 15px;
			width: 235px;

			a {
				margin-top: 15px;
				font-size: 34px;
				font-family: 'Times New Roman';
				color: #c30b25;
				text-decoration: none;

				span {
					color: #0b75c3;
				}
				span.logo-desc {
					font-size: 11px;
					font-family: 'Arial';
					font-style: italic;
					color: #6a6a6a;
					position: relative;
					top: -15px;
					left: 45px;
				}
			}
		}
		#header-contacts {
			float: left;
			margin-top: 32px;
			margin-left: 25px;

			.hc-t {
				font-size: 12px;
				font-family: 'Calibri';
				color: #717579;
				margin-bottom: 10px;
			}
			.hc-p {

				p {
					font-size: 12px;
					font-family: 'Franklin Gothic Heavy';
					color: #343d3f;
					margin-bottom: 1px;

					span {
						color: #919191;
					}
				}
			}
		}
		#header-call {
			float: left;
			margin-top: 52px;
			margin-left: 35px;

			p {
				font-size: 11px;
				font-family: 'Arial';
				font-style: italic;
				margin-bottom: 5px;
				color: #919191;
			}
			a {
				font-size: 12px;
				font-family: 'Arial';
				font-style: italic;
				margin-bottom: 5px;
				text-decoration: none;
				color: #83ca61;
				border-bottom: 1px dashed #83ca61;
			}
			a:hover {
				border-bottom: 1px dashed transparent;
			}
		}
		#header-schedule {
			float: left;
			margin-left: 35px;
			margin-top: 32px;
			padding-left: 10px;
			background: url('../img/shedule.png') no-repeat bottom left;

			p {
				font-size: 12px;
				font-family: 'Calibri';
				color: #717579;
				margin-bottom: 10px;
			}
			.wd {
				margin-left: 5px;
				font-size: 12px;
				font-family: 'Calibri';
				color: #919191;
				margin-bottom: 10px;
			}
			.nwd {
				margin-left: 5px;
				font-size: 12px;
				font-family: 'Calibri';
				color: #83ca61;
				margin-bottom: 1px;
			}
		}
		#cart {
			float: left;
			margin-left: 30px;
			margin-top: 35px;
			width: 225px;
			height: 75px;
			background: url('../img/cartbg.png') no-repeat;

			.c-t {
				margin-left: 15px;
				margin-bottom: 10px;
				font-size: 11px;
				font-family: 'Tahoma';
				font-weight: bold;
				margin-top: 10px;
				color: #343d3f;
			}

			.c-g {
				margin-left: 15px;
				margin-bottom: 5px;
				padding-left: 15px;
				background: url('../img/cart.png') no-repeat left center;
				font-size: 12px;
				font-family: 'Calibri';
				color: #717579;

				a {
					color: #64b5f1;
				}
				a:hover {
					text-decoration: none;
				}
			}
			.c-p {
				margin-left: 15px;
				background: url('../img/personal.png') no-repeat left center;
				padding-left: 15px;

				a {
					font-size: 12px;
					font-family: 'Calibri';
					color: #64b5f1;
				}
				a:hover {
					text-decoration: none;
				}
			}
		}
	}
	#content {

		#topmenu {
			margin-top: 30px;
			float: left;

			ul {

				li {
					.dib;
					margin-right: 5px;
				}
				li:last-child {
					margin-right: 0;
				}
				li a {
					font-size: 12px;
					font-family: 'Tahoma';
					font-weight: bold;
					margin-top: 10px;
					color: #343d3f;
					text-decoration: none;
					.dib;
					padding: 10px;
				}
				li a:hover {
					color: #fff;
					background: url('../img/mba.png') no-repeat center center;
					background-size: 100% 100%;
				}
			}
		}
		#search { 
			position: relative;
		  	height: 29px; 
		  	float: right;
		 	margin-top: 40px;

			input {
			  	float: left;
			  	border: none;
			}
		  	.input {  
			  	width: 339px;  
			  	height: 28px;  
			  	/* внутренний отступ справа (37px) делаем больше левого, 
			  	** т.к. там будет размещена кнопка отправки */  
			  	padding: 0 0 1px 30px;  
			  	background: url('../img/search.png') no-repeat;  
			  	color: #717579;
			  	font: 12px 'Calibri';  
			  	outline: none;
			  	box-sizing: border-box;
			  	-webkit-box-sizing: border-box;
			  	-moz-box-sizing: border-box;
			}
			.submit {  
			  	width: 67px;  
			  	height: 28px;  
			  	cursor: pointer;  
			  	margin-left: -67px;
			  	background: transparent;
			}
		}
		@-moz-document url-prefix() {  
		  	#search .input {  
		    	height: 27px;  
		   	 	padding-bottom: 2px;  
		  	}  
		}
		.centerblock-wrapper {
			margin-top: 20px;

			#slider {
				float: left;
				width: 730px;
				position: relative;

				.slide {

					.s-i {
						position: relative;
					}

					img {
						padding-top: 15px;
						padding-bottom: 15px;
						width: 710px;
						height: 200px;
					}
					.slide-block {
						position: absolute;
						width: 255px;
						height: 230px;
						background: #2f6fa2 url('../img/cbbg.png') no-repeat;
						border-radius: 4px;
						right: 40px;
						top: 0;

						.sb-c {
							width: 190px;
							.cb;
							padding: 20px;

							h3 {
								font-size: 16px;
								font-weight: bold;
								color: #fff;
								font-family: 'Calibri';
								margin-bottom: 10px;
							}
							p {
								padding: 5px 5px 5px 0;
								font-size: 13px;
								color: #fff;
								font-family: 'Calibri';
								font-style: italic;
							}
							a {
								display: inline-block;
								padding: 5px 10px 15px 5px;
								margin-top: 15px;
								font-family: 'Tahoma';
								font-size: 11px;
								font-weight: bold;
								color: #fff;
								background: url('../img/cbb.png') no-repeat;
								background-size: 100% 100%;
								text-decoration: none;
							}
						}
					}
				}
				#slide-nav {
					position: absolute;
					bottom: -260px;
					right: 110px;

					#prewbutton {
						display: inline-block;
						height: 15px;
						width: 10px;
						background: url('../img/sl.png') no-repeat;
						margin-right: 5px;
					}
					#nextbutton {
						display: inline-block;
						height: 15px;
						width: 10px;
						background: url('../img/sr.png') no-repeat;
						margin-left: 5px;
					}
					.sli-links, .control-slide {
						display: inline-block;
					}
					.control-slide {
						position: relative;
						top: -2px;
						width:8px;
   						height:8px;
						background: url('../img/sb.png') no-repeat;
						margin: 0 2px 0 2px;
						overflow:hidden;
    					text-indent:-9999px;
    					display: inline-block;
					}
					.control-slide.active {
						background: url('../img/sba.png') no-repeat;
					}
				}
			}
			#rightblock {
				float: right;
				width: 270px;

				.rb-i {
					background: url('../img/rbbg.png');
					height: 65px;
					margin-bottom: 15px;
					text-align: right;

					img {
						height: 65px;
						width: 65px;
					}

					a {
						font-size: 12.5px;
						color: #6289a6;
						font-weight: bold;
						font-family: 'Calibri';
						vertical-align: top;
						.dib;
						margin-top: 30px;
						margin-right: 15px;
						text-decoration: none;
						padding-bottom: 2px;
						border-bottom: 1px dashed;
					}
					a:hover {
						border-bottom: none
					}
				}
				.rb-i:last-child {
					margin-bottom: 0;
				}
			}
		}
		#breadcrumps {
			margin-top: 40px;
			margin-bottom: 40px;
			margin-left: 10px;
			background: url('../img/bcicon.png') no-repeat left 6px;
			padding-left: 15px;

			ul {

				li {
					.dib;
				}
				li a {
					font-size: 11px;
					font-family: 'Tahoma';
					color: #73b2df;
					text-decoration: none;
				}
				li a:hover {
					color: #0b75c3;
				}
				li:after {
					content: '»';
					margin-left: 5px;
					font-size: 11px;
					font-family: 'Tahoma';
					color: #73b2df;
				}
				li:last-child:after {
					content: none;
				}
			}
		}
		#catalog-block {
			margin-left: 10px;

			h1 {
				font-size: 11px;
				color: #383d43;
				font-family: 'Tahoma';
				font-weight: bold;
				margin-bottom: 40px;
			}

			#catb-w {
				.cb;
				width: 910px;

				.catb-tb {
					.in-a-row;
					width: 250px;
					margin-right: 77px;
					height: 100px;
					background: #000;
				}
				.catb-tb:last-child {
					margin-right: -4px;
				}
			}
		}
	}
}